@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Genos:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gray: #696660;
  --font: "Genos", sans-serif;
  --font2: "Barlow", sans-serif;
  --blackBtnColor: #2e2e2e;
  --blackBtnColorHover: #727272;
  --swiper-navigation-size: 50px;
}

::-webkit-scrollbar {
  width: 0.4vw;
}
::ng-deep .swiper-button-prev:after,
::ng-deep .swiper-button-next:after {
  font-size: 50px;
}
.loader {
  position: absolute;
  left: 50%;
  top: 20%;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(24, 24, 24);
  border-radius: 4px;
}
.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
.button {
  display: block;
  padding: 1rem 3.5rem;
  border: 1px solid var(--gray);
  position: relative;
  transition: all 0.35s;
  cursor: pointer;
}
.button span {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: var(--font2);
  font-weight: 500;
  color: var(--gray);
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all 0.35s;
}
.button:after {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--gray);
  transition: all 0.35s;
}
.button:hover:after {
  height: 100%;
}
.button:hover span {
  color: white;
}
/* search  */
.search-overlay {
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.56);
  transition: 1s;
}
.search {
  background: white;
  position: fixed;
  top: -100%;
  width: 100vw;
  height: 15vh;
  transition: 700ms ease;
  font-family: var(--font);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding-bottom: 3vh;
}
.search input {
  width: 40%;
  height: 4vh;
  padding-left: 7px;
  outline: none;
  font-family: var(--font2);
}
.noResults {
  font-family: var(--font);
  position: absolute;
  bottom: 0.5vh;
}
.search h1 {
  text-align: center;
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--gray);
  font-weight: 500;
}
.search-data-container a {
  color: var(--gray);
}
.search.active {
  top: 0;
}
.search-icon {
  position: absolute;
  top: 1vh;
  right: 2vw;
  color: var(--gray);
  font-size: 2rem;
  cursor: pointer;
}
.search-data-container {
  width: 100%;
  position: absolute;
  top: 15.1vh;
  height: 90vh;
  background: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
  overflow-x: hidden;
}
.search-data-card {
  padding: 2vh 0;
  font-family: var(--font2);
  border: 0.1px solid rgba(0, 0, 0, 0.074);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.search-data-card p:first-child {
  font-weight: 600;
  margin-bottom: 1vh;
  text-transform: uppercase;
}
.search-data-card p:last-child {
  margin-top: 1.5vh;
}
.search-data-card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
}
.banner {
  width: 90%;
  z-index: 999;
  margin: 0 auto;
  height: 8vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: gray;
  font-family: var(--font2);
}
.swiper-pagination-bullet {
  background: black !important;
}
header {
  width: 90%;
  height: 8vh;
  position: fixed;
  left: 5%;
  z-index: 998;
  top: 70px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}
header a {
  color: white;
  transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}
header.active a {
  color: var(--gray);
}
header h1 {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
}
header.active {
  position: fixed;
  top: 0;
  background: white;
  color: var(--gray);
  transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}
.nav-left {
  display: flex;
  width: 33.3%;
  font-family: var(--font2);
}
.nav-left p {
  font-size: 1.05rem;
  margin-left: 15px;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-icon {
  font-size: 1.24rem;
  cursor: pointer;
}
.nav-right {
  width: 33.3%;
  display: flex;
  justify-content: flex-end;
}
.nav-right .nav-icon {
  margin-right: 15px;
}
.nav-right .nav-icon:last-child {
  margin-right: 0px;
}
.nav-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
/* categories  dropdown  */
.cats-dropdown-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  transition: 500ms;
}
.cats-dropdown {
  width: 100%;
  position: fixed;
  top: -100%;
  height: 8vh;
  background: white;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 600;
  transition: 700ms ease;
  z-index: 999;
}
.cats-dropdown.active {
  top: 0;
  background: white;
}
.activeBG {
  background: var(--gray);
  color: white;
  transition: 300ms;
}
.cats-dropdown li {
  font-family: var(--font2);
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* drop down  */
.dropdown {
  height: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 700ms;
}
.dropdown.active {
  height: 67vh;
}
.dropdown-image-wrapper p {
  color: var(--gray);
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.1rem;
  margin-top: 1vh;
}
.dropdown-inner {
  padding-top: 40px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-family: var(--font2);
  /* padding-top: 4vh; */
}
.brandList-main {
  min-height: 100vh;
}
.dropdown-inner a {
  text-decoration: none;
}
.dropdown-inner ul {
  list-style: none;
  margin-top: 5vh;
}
.dropdown-inner ul li {
  margin-top: 1vh;
  color: var(--gray);
  font-weight: 400;
  cursor: pointer;
}
.dropdown-inner ul p {
  font-weight: 700;
  color: var(--gray);
  text-transform: uppercase;
}
.dropdown-inner img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin-top: 5vh;
}

/* home  */
.home {
  width: 90%;
  margin: 0 auto;
  position: relative;
  min-height: 200vh;
}

.home h3 {
  font-family: var(--font);
  color: var(--gray);
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-left: 10px;
}
.home section {
  margin-bottom: 50px;
}
/* catalog  */
.catalog-slider {
  padding-bottom: 5vh !important;
}

.catalog h1 {
  color: var(--gray);
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  text-align: start;
}
.catalog-card {
  position: relative;
  cursor: pointer;
}
.catalog-card img {
  width: 300px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.image1 {
  padding: 1rem;
}
.image2 {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 998;
  object-fit: cover;
  border-radius: 12px;
  transition: 500ms;
}
.catalog-card:hover img {
  opacity: 0;
}
.catalog-card:hover .image2 {
  opacity: 1;
}
.card-category {
  position: absolute;
  top: 1vh;
  left: 1vw;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--gray);
  z-index: 999;
  font-family: var(--font);
  text-transform: uppercase;
}
.card-image-container {
  width: 100%;
}
.card-content {
  min-height: 5vh;
  position: relative;
  white-space: nowrap;
}
.card-brand {
  position: absolute;
  top: 0;
  left: 1vw;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--gray);
  font-family: var(--font);
  text-transform: uppercase;
}
.card-name {
  position: absolute;
  bottom: 0;
  left: 1vw;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray);
  font-family: var(--font);
  text-transform: uppercase;
}
.card-price {
  position: absolute;
  top: 0;
  right: 1vw;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray);
  font-family: var(--font);
  text-transform: uppercase;
}
.status {
  text-align: center;
}
.singleProduct {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding-top: 12.5vh;
  position: relative;
}

.singleProduct-content {
  width: 50%;
  min-height: 60vh;
  color: var(--gray);
  z-index: 2;
  background: rgba(229, 229, 229, 0.6);
  position: absolute;
  border-radius: 12px;
  right: 0;
  top: 21.5%;
  padding: 2rem;
}
.paginationImg-container {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 50%;
  left: 0%;
  z-index: 3;
  row-gap: 2vh;
  display: flex;
  flex-direction: column;
}
.paginationImg-container img {
  height: 100%;
  width: 100%;
  opacity: 70%;
  object-fit: cover;
  border-radius: 50%;
  transition: 300ms ease;
}
.paginationImg1:hover {
  opacity: 100%;
  transition: 300ms ease;
}
.singleProduct-content h1 {
  font-family: var(--font2);
  text-transform: uppercase;
  font-size: 2.8rem;
}

.singleProduct-content h2 {
  font-family: var(--font2);
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 40px;
}
.underline {
  border-bottom: 1px solid rgb(223, 223, 223);
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  color: var(--gray);
  cursor: pointer;
}
.singleProd-status {
  font-family: var(--font);
  font-size: 1.5rem;
}
.singleProd-description {
  font-size: 1.4rem;
  width: 100%;
  margin-top: 30px;
}
.slider-container {
  width: 100%;
  height: 70vh;
  position: relative;
  transition: 300ms ease;
  overflow: hidden;
}
.slider-carousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  transition: 300ms ease;
}
.slider-card {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  transition: 300ms ease;
  transition: 300ms ease;
  position: relative;
}
.slider-card img {
  position: absolute;
  top: 5%;
  left: 8%;
  padding: 2rem;
  width: 450px;
  object-fit: cover;
}

/* splash  */
.splash {
  height: 90vh;
  position: relative;
  border-radius: 12px;
  position: relative;
}
.splash h2 {
  color: white;
  font-family: var(--font2);
  text-transform: uppercase;
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.splash video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.splash img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.cursor {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: black;
  position: absolute;
  transform: translate(-40%, -240%);
  pointer-events: none;
  z-index: 999;
  transition: all 0.3 ease;
}
/* brand focus  */
.imgSection {
  height: 90vh;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  margin-bottom: 0 !important;
}
.imgSection img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  filter: grayscale(50%);
}
.imgSection-content {
  position: absolute;
  bottom: 10vh;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.zoomPic {
  transition: 8s;
  transform: scale(1.07);
}
.imgSection h4 {
  color: white;
  font-size: 1.9rem;
  font-family: var(--font2);
  text-transform: uppercase;
  z-index: 900;
}
.imgSection p {
  font-size: 1.5rem;
  color: white;
  font-family: var(--font2);
}
.trends-main {
  height: 80vh;
  position: relative;
  border-top-left-radius: 12px;
  /* border-top-right-radius: 12px; */
  /* border-radius: 12px; */
  overflow: hidden;
  display: flex;
}
.profile-main h2 {
  color: var(--gray);
  font-family: var(--font2);
}
.trends-btn {
  display: block;
  width: 140px;
  height: 140px;
  background-color: white;
  border: none;
  color: var(--gray);
  font-family: var(--font2);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50%;
  font-size: 1.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  top: 8%;
  left: 70%;
  z-index: 2;
  border: 1px solid white;
  white-space: nowrap;
}

.trends-btn:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--gray);
  transition: all 0.35s;
}
.trends-btn:hover:after {
  height: 100%;
}
.trends-btn:hover span {
  color: white;
  transition: 0.35s color;
}
.trends-btn span {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.trends-splash-container {
  position: relative;
  width: 60%;
  height: 100%;
}
.trends-splashBG {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: 50% 25%;
  border-radius: 12px;
}
.trends-main h4 {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 6rem;
  text-align: center;
}
.trends-swiper-container {
  height: 92.5%;
  width: 40%;
}
.trends-swiper {
  height: 100%;
  width: 100%;
}
.trends-card {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;

  font-family: var(--font2);
}
.trends-card-header {
  width: 100%;
  font-family: var(--font);
  padding: 0.5rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.9rem;
  color: var(--gray);
  z-index: 2;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: var(--gray);
}
.swiper-button-next {
  top: 30% !important;
  right: 3% !important;
}
.swiper-button-prev {
  top: 30% !important;
  left: 3% !important;
}
.trends-card button {
  position: absolute;
  bottom: 4%;
  width: 60%;
  height: 3.5vh;
  font-size: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.trends-card p {
  position: absolute;
  font-family: var(--font);
  color: var(--gray);
  white-space: nowrap;
  text-transform: uppercase;
}
.trendsProdName {
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.trendsProdBrand {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: 600;
}
.trends-card-footer button {
  display: block;
}
.trends-card img {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.brandFocus-wrapper {
  display: flex;
}
.brandFocus-left {
  width: 65%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandFocus-left-content {
  width: 100%;
  color: var(--gray);
  font-family: var(--font2);
  text-align: center;
}
.brandFocus-left-content h5 {
  font-size: 5rem;
  margin-bottom: 10px;
}
.brandFocus-left-content p {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 25px;
}
.brandFocus-left-content p:nth-child(3) {
  width: 70%;
  margin: 0 auto;
  font-size: 1.3rem;
}

.marquee {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.marquee h5 {
  font-size: 6rem;
  white-space: nowrap;
  font-family: var(--font);
  color: var(--gray);
  text-transform: uppercase;
  animation: move-rtl 10s linear infinite;
}
.marquee-icon {
  font-size: 3rem;
  animation: rotate 8s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move-rtl {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.dropDown-slide {
  -webkit-animation-name: dropDown-slide;
  animation-name: dropDown-slide;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes dropDown-slide {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes dropDown-slide {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.brandFocus-right {
  width: 45%;
  overflow: hidden;
  border-radius: 12px;
}
.brandFocus-right img {
  width: 700px;
  height: 80vh;
  object-fit: cover;
  border-radius: 12px;
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.brandFocus-btn {
  display: block;
  text-align: center;
  width: 140px;
  height: 140px;
  margin-top: 5vh;
  background-color: var(--gray);
  border: none;
  color: white;
  font-family: var(--font2);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50%;
  font-size: 1.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  white-space: nowrap;
  box-shadow: 0 0 0 1px var(--gray);
}
.brandFocus-btn:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
  transition: all 0.35s;
}
.brandFocus-btn:hover:after {
  height: 100%;
}
.brandFocus-btn:hover span {
  color: var(--gray);
  transition: 0.35s color;
}
.brandFocus-btn span {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
footer {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.footer-header h1 {
  text-align: center;
  font-family: var(--font);
  color: var(--gray);
  font-size: 22vw;
  text-transform: uppercase;
  border-bottom: 1px solid var(--gray);
}
.footer-content {
  width: 100%;
  display: flex;
}
.footer-content ul {
  list-style: none;
}
.footer-content h6 {
  font-family: var(--font2);
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--gray);
  margin-bottom: 1vh;
  text-align: center;
}
.footer-content li {
  font-family: var(--font2);
  color: var(--gray);
  text-transform: uppercase;
  margin-top: 0.5vh;
  cursor: pointer;
}

.footer-icon-container {
  padding: 0.5rem;
  position: relative;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  color: var(--gray);
  font-size: 3rem;
  cursor: pointer;
}
.footer-icon-container::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  transform: scale(0);
  background: var(--gray);
  border-radius: 50%;
  z-index: 1;
}
.footer-icon-container:hover::before {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: 500ms;
}
.footer-icon-container:hover {
  color: white;
}
.footer-icon {
  z-index: 2;
}
.social-wrapper {
  display: flex;
}
.category {
  min-height: 100vh;
  width: 90%;
  margin: 8vh auto;
  display: flex;
}
.section-splash {
  height: 90vh;
  border-radius: 12px;
  position: relative;
}
.section-splash h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.section-splash img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.category h1 {
  text-align: center;
  font-size: 6.5rem;
  text-transform: uppercase;
  color: white;
  font-family: var(--font2);
}
.category-list {
  min-height: 50vh;
  width: 80%;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.category-title {
  position: sticky;
  top: 0;
  height: 80vh;
  width: 15%;
  writing-mode: vertical-lr;
}
.filter-goBack {
  margin-top: 6.6vh;
  display: flex;
  align-items: center;
  color: var(--gray);
  font-family: var(--font);
  cursor: pointer;
  font-size: 1.3rem;
}
.goBack-icon {
  margin-right: 5px;
}
.singleProd-goBack {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-family: var(--font);
  cursor: pointer;
  font-size: 1.3rem;
}
.singleProd-goBack span {
  transform: translateY(13%);
  margin-right: 5px;
}
.filter {
  position: sticky;
  top: 6vh;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.subcategory-sidetitle {
  width: 15%;
  position: sticky;
  top: 6vh;
  height: 100vh;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subcategory-sidetitle h1 {
  font-size: 5rem;
  color: var(--gray);
  text-transform: uppercase;
}
.mobile-sidebar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 700ms;
  background-color: rgba(17, 17, 17, 0.94);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobile-sidebar.active {
  top: 0;
}
.sidebar-header {
  bottom: 0;
  height: 8vh;
  width: 100%;
  position: absolute;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
}
.sidebar-header-inner {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.order-window-content-wrapper {
  display: flex;
  height: 100%;
}
.order-window-items h3 {
  position: absolute;
  top: 2%;
  left: 2%;
  color: var(--gray);
  font-family: var(--font2);
  text-transform: uppercase;
}
.order-window-items {
  width: 55%;
  position: relative;
  height: 68vh;
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
  padding: 1rem;
  border: 1px solid rgb(231, 231, 231);
  margin-top: 1vh;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.order-window-details {
  width: 45%;
  padding: 0.4rem;
  text-align: start;
  color: var(--gray);
  font-family: var(--font2);
}
.order-window-total {
  border-top: 1px solid rgb(231, 231, 231);
  padding-top: 2vh;
}
.order-window-details p {
  margin-bottom: 0.8vh;
}
.order-window-item {
  width: 100%;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 1rem;
  font-family: var(--font2);
  color: var(--gray);
}
.order-window-item img {
  width: 160px;
  /* padding: 40px; */
}
.order-window h1 {
  color: var(--gray);
  font-family: var(--font2);
  font-size: 1.3rem;
  font-weight: 400;
}
.order-window h2 {
  margin-top: 1vh;
  font-size: 1.3rem;
  color: var(--gray);
  font-family: var(--font2);
}
.order-window h1 span {
  border-bottom: 1px solid rgb(231, 231, 231);
  padding-bottom: 1vh;
}
.order-window-close {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  font-size: 2rem;
  color: var(--gray);
}
.order-window {
  height: 80vh;
  width: 70vw;
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  position: relative;
}
.sidebar-header-inner button {
  padding: 0.6rem 2rem;
  border-radius: 15px;
  border: none;
  color: var(--gray);
  background: white;
  text-transform: uppercase;
  font-family: var(--font2);
  font-weight: 600;
}
.mobile-sidebar-inner {
  height: 80%;
  width: 80%;
  position: relative;
  border-radius: 12px;
}
.mobile-sidebar-inner ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.sidebar-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--gray);
}
.sidebar-account {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 2.3rem;
  cursor: pointer;
  color: var(--gray);
}
.mobile-sidebar a {
  color: white;
}
.mobile-sidebar-inner h4:nth-child(1n) {
  animation-delay: 0.2s;
}

.mobile-sidebar-inner ul li:nth-child(2n) {
  animation-delay: 0.4s;
}

.mobile-sidebar-inner ul li:nth-child(3n) {
  animation-delay: 0.6s;
}

.mobile-sidebar-inner ul li:nth-child(4n) {
  animation-delay: 0.8s;
}

.mobile-sidebar-inner ul li:nth-child(5n) {
  animation-delay: 1s;
}

.mobile-sidebar-inner ul li:nth-child(6n) {
  animation-delay: 1.2s;
}

.mobile-sidebar-inner ul li:nth-child(7n) {
  animation-delay: 0.7s;
}

.mobile-sidebar-inner ul li:nth-child(8n) {
  animation-delay: 0.8s;
}

.mobile-sidebar-inner ul li:nth-child(9n) {
  animation-delay: 0.9s;
}

.mobile-sidebar-inner ul li:nth-child(10n) {
  animation-delay: 1s;
}
.sidebar-back {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 2.2rem;
  cursor: pointer;
  color: var(--gray);
}
.mobile-sidebar-inner ul li {
  font-family: var(--font2);
  color: white;
  text-transform: uppercase;
  margin-top: 5vh;
  font-weight: 600;
  font-size: 3rem;
  cursor: pointer;
}

.priceSlider {
  margin-top: 15px;
  margin-left: 10px;
  width: 85% !important;
}
.mobilePriceSlider {
  margin-top: 5vh;
  margin-left: 5%;
  width: 90% !important;
}
.rangeText {
  width: 100%;
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.rangeText p {
  width: auto !important;
  border: none !important;
  font-size: 0.8rem;
}
.css-187mznn-MuiSlider-root {
  color: var(--gray) !important;
}
.cart {
  position: fixed;
  right: -400%;
  top: 0;
  width: 830px;
  height: 100%;
  background: white;
  z-index: 999;
  transition: 500ms;
  padding: 1rem;
  opacity: 0;
}
.cart.active {
  right: 0;
  opacity: 1;
}
.cart-trashbin {
  position: absolute;
  bottom: 10%;
  right: 3%;
  font-size: 1.5rem;
  cursor: pointer;
}
.cart-product {
  position: relative;
  display: flex;
  border-bottom: 1px solid rgb(233, 233, 233);
  padding: 1rem;
  font-family: var(--font2);
  color: var(--gray);
  font-size: 1.2rem;
  font-weight: 500;
}

.cart-increase {
  position: relative;
  margin-top: 20px;
  display: flex;
  padding: 0.4rem 1rem;
  border-radius: 100px;
  width: 100px;
  height: 40px;
}
.cart-increase p {
  cursor: pointer;
  font-size: 1.4rem;
  top: 55%;
}
.cart-increase p,
.cart-increase span {
  position: absolute;
  transform: translateY(-50%);
}
.cart-increase p:first-child {
  left: 5%;
}
.cart-increase span {
  left: 46.5%;
  top: 50%;
}
.cart-increase p:last-child {
  right: 5%;
}
.cart-product img {
  width: 100px;
  margin-right: 20px;
}
.cart-product a {
  color: var(--gray);
}
.cart-header {
  width: 100%;
  height: 12vh;
  border-bottom: 1px solid rgb(223, 223, 223);
  position: relative;
}
.cart-close {
  position: absolute;
  right: 0;
  font-size: 2rem;
  color: var(--gray);
  cursor: pointer;
}
.cart-progressBar {
  width: 70%;
  margin: 14px auto;
  height: 1vh;
  border-radius: 12px;
  background: white;
  border: 1px solid black;
  transition: 200ms ease;
}
.cart-progressBar.active {
  background: var(--gray);
  border: none;
}
.cart-header p {
  text-align: center;
  font-family: var(--font2);
  font-size: 1.3rem;
  color: var(--gray);
  font-weight: 600;
}
.cart-footer-total {
  display: flex;
  justify-content: space-between;
  font-family: var(--font2);
  border-bottom: 1px solid rgb(231, 231, 231);
  padding-bottom: 0.5vh;
}
.cart-footer-total p {
  color: var(--gray);
  font-size: 1.5rem;
}
.cart-footer-taxes {
  margin: 1vh 0;
  color: var(--gray);
  font-family: var(--font2);
  font-weight: 500;
}
.cart-footer {
  padding-top: 1.5vh;
}
.cart-footer button {
  display: block;
  width: 100%;
  height: 5vh;
  background-color: var(--gray);
  border: none;
  color: white;
  font-family: var(--font2);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 100px;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border: 1px solid var(--gray);
}
.cart-footer button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
  transition: all 0.35s;
}
.cart-footer button:hover:after {
  height: 100%;
}
.cart-footer button:hover span {
  color: var(--gray);
  transition: 0.35s color;
}
.cart-footer button span {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.nav-cart {
  position: relative;
}
.nav-cart-counter {
  position: absolute;
  top: -12px;
  right: 4px;
  color: rgb(255, 255, 255);
  background-color: rgba(57, 57, 57, 0.5);
  height: 24px;
  font-weight: 700;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 100px;
  border: 1px solid white;
}

.mobile-addtocart {
  position: absolute;
  right: 5%;
  top: 2%;
  font-size: 1.6rem;
  color: var(--gray);
  cursor: pointer;
  z-index: 999;
}
.paymentSuccess-main {
  min-height: 92vh;
  width: 90%;
  margin: 8vh auto 0 auto;
}
.invoice-container {
  width: 100%;
  height: 100%;
  font-family: var(--font2);
  color: var(--gray);
}
.invoice-container-header {
  padding: 1rem 0 1rem 1.6rem;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.invoice-container-header h6 {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-family: var(--font);
}
.invoice-footer {
  padding: 1rem;
  border-top: 1px solid rgb(231, 231, 231);
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}
.invoice-item {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 1rem;
}
.invoice-item img {
  width: 80px;
}
.invoice-item div:nth-child(1) {
  display: flex;
}
.invoice-item div:nth-child(2) {
  margin-left: 50px;
}
.invoice-item div:nth-child(2) p:first-child {
  margin-bottom: 1vh;
}
.invoice-shipping-details {
  padding: 1rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-self: center;
  justify-items: center;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.invoice-total {
  width: 100%;
  padding: 1rem;
}
.invoice-total div:nth-child(2) {
  border-bottom: 1px solid rgb(231, 231, 231);
}
.invoice-total div {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
}
.invoice-shipping-details div {
  text-align: center;
}
.invoice-container-inner {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.brand-swiper {
  width: 100% !important;
  position: absolute !important;
  top: 50% !important;
  left: 0% !important;
  transform: translateY(-50%);
  text-align: center;
  font-weight: 700;
}
.checkout-main {
  width: 90%;
  min-height: 85vh;
  display: flex;
  margin: 8vh auto 0 auto;
  font-family: var(--font2);
  color: var(--gray);
  padding-top: 5vh;
}
.checkout-products {
  width: 50%;
  border-right: 1px solid rgb(231, 231, 231);
  font-weight: 500;
}
.checkout-products h1 {
  text-align: end;
  padding-right: 25px;
}
.shippingDetails {
  width: 50%;
  position: sticky;
  top: 10vh;
  height: 80vh;
}

.checkout-products-inner {
  width: 100%;
  margin-top: 3.8vh;
  padding: 1rem 5rem 1rem 5rem;
  height: 100%;
}
.checkout-product {
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 1rem 0;
  display: flex;
  white-space: nowrap;
}
.checkout-product-wrapper div p:first-child {
  font-size: 0.9rem;
}
.checkout-product-wrapper div p:last-child {
  margin-top: 1vh;
  font-weight: 700;
}
.checkout-product-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.checkout-product-total {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100px;
}
.checkout-product-total p:first-child {
  margin-bottom: 1vh;
}
.checkout-product img {
  width: 160px;
}
.checkout-main form {
  width: 100%;
  margin-top: 5vh;
  padding: 1rem 2rem 1rem 2rem;
}
.checkout-main form input {
  display: block;
  width: 100%;
  height: 30px;
  padding-left: 5px;
  outline: none;
}
.checkout-main h1 {
  text-transform: uppercase;
  font-size: 4rem;
  padding-left: 25px;
}
.checkout-main form h2 {
  margin-top: 30px;
  text-align: end;
  font-weight: 500;
  font-size: 1.2rem;
}
.checkout-main form label {
  display: block;
  margin-top: 1.5vh;
  margin-bottom: 0.5vh;
}
.checkout-main form label:first-child {
  margin-top: 0;
}
.checkout-main button {
  margin-top: 3vh;
  width: 100%;
  position: relative;
  height: 5vh;
  overflow: hidden;
  border-radius: 100px;
  border: 1px solid var(--gray);
  z-index: 2;
  font-family: var(--font2);
  text-transform: uppercase;
  color: white;
  background-color: var(--gray);
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}
.checkout-main button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
  transition: all 0.35s;
}
.checkout-main button:hover:after {
  height: 100%;
}
.checkout-main button:hover span {
  color: var(--gray);
  transition: 0.35s color;
}
.checkout-main button span {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.brand-swiper a {
  color: white;
}
.brand-slide {
  font-size: 6rem;
  font-family: var(--font);
  color: white;
  text-transform: uppercase;
}
.pageError {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font2);
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  color: var(--gray);
}
.cartNotification {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  white-space: nowrap;
  border-radius: 12px;
  background-color: rgba(17, 17, 17, 0.95);
  color: white;
  z-index: 999;
  transform: translate(-50%, -50%);
  font-family: var(--font2);
}
.cartNotification p:nth-child(2) {
  margin: 1vh 0;
  text-transform: uppercase;
  font-weight: 600;
}
.cartNotification-icon {
  font-size: 2rem;
  color: white;
}
.product-addtocart {
  position: absolute;
  width: 150px;
  height: 4vh;
  top: 2%;
  left: -100%;
  background-color: var(--gray);
  border: none;
  color: white;
  font-family: var(--font2);
  font-weight: 600;
  text-transform: uppercase;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  font-size: 0.9rem;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  z-index: 999;
  border-right: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.product-card:hover .product-addtocart {
  left: 0;
}
.product-addtocart:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.product-addtocart:hover:after {
  height: 100%;
}
.product-addtocart:hover span {
  color: var(--gray);
  transition: 0.35s color;
}
.product-addtocart span {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.cart-footer-total p:first-child {
  font-weight: 500;
}
.cart-footer-total p:last-child {
  font-weight: 500;
}
.cart-products {
  height: 70vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.filter h6 {
  margin-top: 3vh;
  font-size: 1.1rem;
  font-family: var(--font2);
  text-transform: uppercase;
  color: var(--gray);
}
.mobileFilter-wrapper {
  width: 100%;
  list-style: none;
  padding-bottom: 2vh;
}
.mobileFilter-brands {
  max-height: 29vh;
  overflow: scroll;
}
.mobileFilter-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(223, 223, 223);
}
.mobileFilter-wrapper p {
  width: 100%;
  font-family: var(--font2);
  color: var(--gray);
  font-weight: 700;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.mobileFilter-title {
  border-bottom: 3px solid var(--gray);
}
.filter-wrapper {
  width: 80%;
  list-style: none;
}
.filter-wrapper li {
  color: var(--gray);
  font-family: var(--font2);
  margin-top: 0.5vh;
  cursor: pointer;
}
.filter-wrapper p {
  width: 100%;
  font-family: var(--font2);
  color: var(--gray);
  font-weight: 700;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.filter-title {
  border-bottom: 3px solid var(--gray);
  line-height: 24px;
}
.filter-wrapper {
  margin-top: 2vh;
}
.category-card {
  width: 400px;
  height: 450px;
  border-radius: 12px;
  transition: 500ms;
  position: relative;
  cursor: pointer;
}
.mobileFilter {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  bottom: -200%;
  left: 0;
  transition: 500ms;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobileFilter-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  color: var(--gray);
  cursor: pointer;
}
.mobileFilter-content {
  width: 80%;
  height: 80%;
  position: relative;
  padding-top: 1.5rem;
}
.mobileFilter-content li {
  margin-top: 1vh;
  font-family: var(--font2);
  color: var(--gray);
}
.mobileFilter.active {
  bottom: 0;
}
.category-card p {
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  color: black;
  color: white;
  font-family: var(--font);
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  bottom: 0;
  z-index: 3;
  background: rgba(34, 34, 34, 0.8);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: 500ms;
}
.subcategory {
  min-height: 100vh;
  margin-top: 8vh;
  width: 90%;
  margin: 6vh auto;
  display: flex;
  position: relative;
  z-index: 3;
}
.subcategory-splash-wrapper {
  display: flex;
  margin-top: 4vh;
}
.subcategory-splash-title {
  width: 15%;
  writing-mode: vertical-lr;
}
.profile-main {
  min-height: 92vh;
  width: 90%;
  margin: 8vh auto 0 auto;
  padding-top: 4vh;
}
.profile-main h1 {
  font-family: var(--font2);
  color: var(--gray);
  font-size: 2rem;
  text-align: end;
}
.profile-wrapper {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.profile-sidebar {
  height: 50vh;
  width: 25%;
  position: sticky;
  top: 5vh;
  background-color: white;
  padding-top: 2rem;
  padding-right: 1rem;
}
.profile-sidebar h2 {
  font-family: var(--font);
  color: var(--gray);
  font-size: 1.3rem;
  margin-bottom: 2vh;
  text-transform: uppercase;
}
.profile-sidebar-section.active {
  background-color: rgba(232, 232, 214, 0.503);
  transition: 300ms color;
}
.profile-sidebar-content {
  width: 100%;
  list-style: none;
}
.profile-sidebar-section {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font);
  font-size: 1.5rem;
  transition: 300ms color;
  cursor: pointer;
  color: var(--gray);
}
.profile-sidebar-arrow {
  font-size: 2rem;
  padding-right: 20px;
  color: var(--gray);
}
.profile-sidebar-section div {
  display: flex;
  align-items: center;
}
.profile-sidebar-icon {
  font-size: 1.8rem;
  color: var(--gray);
}
.profile-sidebar-section div {
  padding-left: 20px;
}
.profile-sidebar-section span {
  font-size: 1.3rem;
  margin-left: 20px;
}
.profile-content {
  width: 75%;
  height: 100%;
  padding: 1.5rem;
}
.profile-content h3 {
  color: var(--gray);
  font-family: var(--font);
  font-size: 2rem;
  margin-bottom: 2vh;
}
.order-container {
  border-bottom: 1px solid var(--gray);
  width: 100%;
  font-family: var(--font2);
  position: relative;
  overflow: hidden;
  color: var(--gray);
  display: flex;
  flex-direction: column;
}
.profile-logout {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-logout button {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.order-container button {
  height: 35px;
  width: 140px;
  float: right;
  margin-bottom: 2vh;
  font-size: 1rem;
}
.order-container-button {
  width: 100%;
  padding-right: 10px;
}
.order-container-btn {
  position: absolute;
  right: 6.5%;
  top: 50%;
  transform: translateY(-50%);
}
.order-products {
  width: 100%;
  padding: 0.5rem;
  position: relative;
  column-gap: 30px;
  align-items: center;
}
.order-products p {
  white-space: nowrap;
  margin-top: 0.5vh;
}
.order-products button {
  position: absolute;
  right: 5%;
}
.order-products p:first-child {
  font-weight: 600;
}
.order-shippingDetails {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.order-products span {
  margin-left: 10px;
}
.order-information {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.order-info {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.order-info div p:nth-child(1) {
  margin-bottom: 1vh;
  font-weight: 600;
}
.order-products img {
  width: 80px;
  margin-top: 4vh;
}
.profile-content-inner {
  width: 100%;
  overflow: scroll;
}
.subcategory-splash-title h1 {
  font-size: 6rem;
  color: var(--gray);
  transform: rotate(180deg);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.subcategory-products-wrapper {
  display: flex;
}
.checkbox {
  transform: translateY(10%);
  cursor: pointer;
}
.filter-list label {
  margin-left: 5px;
  cursor: pointer;
}
.products-splash {
  height: 80vh;
  margin-top: 70px;
  width: 85%;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-splash h1 {
  font-size: 12rem;
  color: white;
  font-family: var(--font2);
  text-transform: uppercase;
}
.products-header {
  min-height: 10vh;
  font-family: var(--font);
  color: var(--gray);
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 2vh;
}
.subcategory-products {
  width: 80%;
  padding: 0 2rem;
}
.mobileFilter-button {
  padding: 0.4rem 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  font-family: var(--font);
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #2e2e2e;
  transition: 300ms ease;
}
.mobileFilter-button:hover {
  background-color: #727272;
}
.mobileFilter-button span {
  margin-left: 5px;
  transform: translateY(10%);
}
.product-card {
  min-height: 5vh;
  width: 100%;
  position: relative;
  cursor: pointer;
  padding: 1rem 1rem;
  border: 1px solid rgb(231, 231, 231);
  overflow: hidden;
}
.product-image1 {
  padding: 50px;
}
.product-image2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  object-fit: cover;
  transition: 500ms;
}
.product-card:hover .product-image1 {
  opacity: 0;
}
.order-window-item p:nth-child(3) {
  margin-top: 0.3vh;
}
.product-card:hover .product-image2 {
  opacity: 1;
}
.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 998;
  text-align: center;
}
.product-card-content p:nth-child(1) {
  color: var(--gray);
  font-weight: 600;
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 1.3rem;
}
.product-card-content p:nth-child(2) {
  font-weight: 600;
  color: var(--gray);
  font-family: var(--font);
  text-transform: uppercase;
}
.product-card-content p:nth-child(3) {
  font-weight: 600;
  color: var(--gray);
  font-family: var(--font);
  text-transform: uppercase;
}
.products-header-wrapper {
  display: flex;
}
.products-header-wrapper p {
  cursor: pointer;
}
.products-header-wrapper p:nth-child(1) {
  margin-right: 2vw;
}
.products-header-arrow {
  font-size: 1rem;
  margin-right: 3px;
  transform: translateY(10%);
  cursor: pointer;
}
.products-grid {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

@keyframes bubble {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bubble2 {
  0% {
    transform: scale(0);
  }

  100% {
    color: #fff;
  }
}
.footer-social {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--gray);
}
.footer-links {
  width: 70%;
  min-height: 30vh;
  display: flex;
  justify-content: space-around;
}
.footer-links ul {
  margin-top: 7vh;
}
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  transition: 500ms;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container {
  width: 380px;
  height: 380px;
  padding: 1.4rem;
  background: white;
  border-radius: 15px;
  font-family: var(--font2);
  transition: 300ms ease;
  position: relative;
}
.modal-container-register {
  width: 435px;
  height: 530px;
  background: white;
  border-radius: 15px;
  padding: 1.4rem;
  font-family: var(--font2);
  transition: 300ms ease;
  position: relative;
}
.cart-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  transition: 500ms;
  z-index: 999;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  transition: 500ms;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirmation-container {
  width: 30vh;
  height: 15vh;
  background: white;
  border-radius: 12px;
  font-family: var(--font2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirmation-container h1 {
  font-size: 1rem;
  color: var(--gray);
  margin-top: 3vh;
  font-weight: 500;
}

.confirmation-container button {
  width: 70px;
  height: 30px;
  background: var(--gray);
  color: white;
  margin-top: 3vh;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}
.confirmation-container button:first-child {
  margin-right: 10px;
}
.modal-body {
  width: 100%;
  padding-bottom: 2vh;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 500ms ease;
}
.modal-body button {
  margin-top: 2vh;
  width: 150px;
  height: 35px;
  background-color: var(--gray);
  color: white;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 12px;
}
.modal-active-underline {
  border-bottom: 2px solid var(--gray);
  padding-bottom: 3px;
}
.modal-container-inner {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-switch {
  display: flex;
  margin-top: 3vh;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.input-container {
  margin-top: 1.5vh;
  width: 90%;
}
.modal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.modal-footer p {
  text-decoration: underline;
  color: var(--gray);
  cursor: pointer;
}
.input-container input {
  width: 100%;
  height: 35px;
  outline: none;
  padding-left: 5px;
}
.singleProduct-content a {
  color: var(--gray);
}
.payment-error-main {
  min-height: 92vh;
  width: 90%;
  margin: 8vh auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray);
  font-family: var(--font2);
}
.payment-error-main h2 {
  margin-bottom: 2vh;
  margin-top: 20vh;
}
.input-container p {
  padding-bottom: 5px;
  color: var(--gray);
  text-align: start;
}
.modal-switch p {
  font-size: 1.3rem;
  color: var(--gray);
  padding-bottom: 5px;
  cursor: pointer;
}
.modal-switch p:nth-child(2) {
  margin-left: 30px;
}
.modal-switch span {
}

.modal-header h1 {
  color: var(--gray);
  font-size: 1.2rem;
  font-weight: 500;
}
.singleProd-addtocart {
  display: block;
  width: 100%;
  margin-top: 4vh;
  height: 5vh;
  background-color: var(--gray);
  border: none;
  color: white;
  font-family: var(--font2);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 100px;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border: 1px solid var(--gray);
  white-space: nowrap;
}
.singleProd-addtocart:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
  transition: all 0.35s;
}
.singleProd-addtocart:hover:after {
  height: 100%;
}
.singleProd-addtocart:hover span {
  color: var(--gray);
  transition: 0.35s color;
}
.singleProd-addtocart span {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.modal-message-login {
  position: absolute;
  top: 32%;
  z-index: -1;
  height: 5vh;
  width: 300px;
  background: white;
  transition: 500ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-family: var(--font2);
  font-weight: 500;
}
.modal-message-login.active {
  top: 25%;
}
.modal-message-register {
  position: absolute;
  top: 30%;
  z-index: -1;
  height: 5vh;
  width: 270px;
  background: white;
  transition: 500ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-family: var(--font2);
  font-weight: 500;
}
.modal-message-register.active {
  top: 19%;
}
.footer-social-icon {
  font-size: 4rem;
  margin-right: 2vw;
  color: var(--gray);
}
.footer-social-wrapper {
  display: flex;
}
.dropDownAnimation {
  -webkit-animation-name: dropDownAnimation;
  animation-name: dropDownAnimation;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes dropDownAnimation {
  0% {
    -webkit-transform: translateY(-1%);
    transform: translateY(-1%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes dropDownAnimation {
  0% {
    -webkit-transform: translateY(-1%);
    transform: translateY(-1%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* media queries  */
@media all and (max-width: 1500px) {
  .brandFocus-left-content h5 {
    font-size: 4.3rem;
  }
  .brandFocus-left-content p:nth-child(3) {
    font-size: 1.2rem;
  }
  .cart {
    width: 750px;
  }
}
@media all and (max-width: 1300px) {
  .brand-slide {
    font-size: 5rem;
  }
  .checkout-main h1 {
    font-size: 3.5rem;
  }
  .splash h2 {
    font-size: 3.2rem;
  }
  .footer-icon-container {
    font-size: 3rem;
  }
  .dropdown-inner {
    width: 80%;
  }
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
  .singleProduct-content h1 {
    font-size: 2.3rem;
  }
  .singleProduct-content p {
    font-size: 1.3rem;
  }
  .singleProduct-content {
    width: 45%;
    top: 25.5%;
  }
  .singleProduct-content button {
    padding: 0.8rem 1.8rem;
  }
  .cart {
    width: 650px;
  }
  .cart-product {
    font-size: 1rem;
  }
}
@media all and (max-width: 1245px) {
  .card-brand {
    font-size: 1.2rem;
  }
  .card-price {
    font-size: 1.1rem;
  }
  .card-name {
    font-size: 0.9rem;
  }
  .brandFocus-left-content h5 {
    font-size: 3.7rem;
  }
  .brandFocus-left-content p:nth-child(3) {
    font-size: 1.1rem;
  }
  .brandFocus-right {
    width: 50%;
  }
  .brandFocus-left {
    width: 50%;
  }
  .footer-content h6 {
    font-size: 1rem;
  }
  .footer-content li {
    font-size: 0.9rem;
  }
}
@media all and (max-width: 1200px) {
  .trends-main h4 {
    font-size: 5rem;
  }
  .trends-btn {
    left: 65%;
  }
}
@media all and (max-width: 1180px) {
  .singleProduct-content {
    width: 40%;
    top: 23.5%;
  }
  .singleProduct-content p {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 1100px) {
  .profile-main h1 {
    font-size: 1.9rem;
  }
  .brand-slide {
    font-size: 4rem;
  }
  .checkout-main h1 {
    font-size: 3rem;
  }
  .cart {
    width: 550px;
  }
  .cart-header p {
    font-size: 1.2rem;
  }
  .cart-progressBar {
    width: 80%;
  }
  .brandFocus-left-content h5 {
    font-size: 3rem;
  }
  .dropdown.active {
    height: 60vh;
  }
  .dropdown-inner img {
    width: 350px;
    height: 350px;
  }
  .dropdown-inner ul p {
    font-size: 0.9rem;
  }
  .dropdown-inner li {
    font-size: 0.9rem;
  }
  .search-data-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (max-width: 1066px) {
  .subcategory-products {
    width: 100%;
    padding: 0;
  }
  .subcategory {
    display: block;
  }
  .filter {
    height: 8vh;
    position: static;
    margin-top: 12vh;
    width: 100%;
  }
  .filter-goBack {
    margin-top: 0;
  }
  .products-header {
    min-height: 6vh;
  }
}
@media all and (max-width: 1060px) {
  .singleProduct-content {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 20vh;
  }
  .singleProduct-content p {
    width: 50%;
    margin-top: 15px;
  }
  .slider-card img {
    left: 10%;
    width: 300px;
    top: 0;
  }
  .paginationImg-container {
    left: 70%;
  }
  .slider-container {
    height: 40vh;
  }
}
@media all and (max-width: 1040px) {
  .splash h2 {
    font-size: 3rem;
  }
  .marquee h5 {
    font-size: 5rem;
  }
  .marquee-icon {
    font-size: 2.6rem;
  }
  .brandFocus-left-content h5 {
    font-size: 2.6rem;
  }
  .brandFocus-left-content p {
    font-size: 1.8rem;
  }
  .brandFocus-left-content p:nth-child(3) {
    font-size: 1.1rem;
    width: 85%;
  }
  .footer-icon-container {
    font-size: 2.7rem;
  }
  .footer-content h6 {
    font-size: 1rem;
  }
  .footer-content li {
    font-size: 0.9rem;
  }
}
@media all and (max-width: 1000px) {
  .order-window {
    width: 80vw;
  }
  .profile-main h1 {
    font-size: 1.8rem;
  }
  .profile-content {
    width: 82%;
  }
  .profile-sidebar {
    width: 18%;
  }
  .profile-main h2 {
    font-size: 1.3rem;
  }
  .profile-sidebar-section {
    justify-content: center;
    height: 8vh;
  }
  .profile-sidebar-icon {
    transform: translateX(-25%);
  }
  .trends-main {
    flex-direction: column;
    height: 140vh;
  }
  .trends-card button {
    bottom: 20%;
  }
  .trendsProdName {
    bottom: 30%;
  }
  .trends-card img {
    top: 45%;
  }
  .trends-btn {
    left: 75%;
  }
  .trends-splashBG {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .trends-card-header {
    border-top: none;
    border-top: 1px solid white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: white;
    background: var(--gray);
  }
  .trends-splash-container {
    width: 100%;
  }
  .trends-swiper-container {
    width: 100%;
  }
  .payment-error-main {
    font-size: 0.8rem;
  }
  .invoice-shipping-details {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5vh;
  }
  .footer-content {
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
  }
  .social-wrapper {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media all and (max-width: 950px) {
  .checkout-main h1 {
    font-size: 2.5rem;
  }
  .checkout-product img {
    width: 120px;
  }
  .footer-content-second {
    flex-direction: column;
  }
  .footer-content-second h6,
  .footer-content-first ul li,
  .footer-content-first ul h6 {
    font-size: 1rem;
  }
  .singleProduct-content h1 {
    font-size: 2rem;
  }
  .singleProduct-content p {
    width: 65%;
  }
}
@media all and (max-width: 900px) {
  .footer-icon-container {
    font-size: 2.7rem;
  }
  .dropdown-inner {
    width: 90%;
  }
  .dropdown-inner img {
    width: 300px;
    height: 350px;
  }
  .cart {
    width: 100%;
  }
  .brand-slide {
    font-size: 3rem;
  }
}
@media all and (max-width: 850px) {
  .order-window {
    width: 90vw;
  }
  .profile-sidebar h2 {
    font-size: 1.2rem;
  }
  .trends-btn {
    left: 70%;
  }
  .splash h2 {
    font-size: 2.6rem;
  }
  .imgSection h4 {
    font-size: 1.8rem;
  }
  .imgSection p {
    font-size: 1.6rem;
  }
}
@media all and (max-width: 820px) {
  .order-info {
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }
  .order-info div p:nth-child(1) {
    margin-bottom: 0;
  }
  .order-info div p:nth-child(2) {
    margin-bottom: 1vh;
  }
  .profile-main h1 {
    font-size: 1.5rem;
  }
  .profile-main h2 {
    font-size: 1.2rem;
  }
  .footer-social {
    flex-direction: column;
  }
  .brandFocus-wrapper {
    flex-direction: column-reverse;
  }
  .brandFocus-right {
    width: 100%;
    height: 100%;
  }
  .marquee h5 {
    font-size: 4rem;
  }
  .marquee-icon {
    font-size: 2rem;
  }
  .brandFocus-left {
    width: 100%;
    height: 45vh;
    margin: 5vh 0;
  }
  .brandFocus-left-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .brandFocus-left-content h5 {
    font-size: 4rem;
  }
  .brandFocus-left-content p {
    font-size: 2.7rem;
  }
  .checkout-main h1 {
    font-size: 2rem;
  }
  .checkout-main {
    flex-direction: column;
  }
  .checkout-product-wrapper {
    width: 100%;
  }
  .checkout-products {
    height: 100%;
    width: 100%;
    border-right: none;
    margin-top: 0;
  }
  .checkout-products h1 {
    text-align: center;
  }
  .checkout-products-inner {
    overflow: visible;
    height: 100%;
    padding: 1.6rem;
    margin-top: 0;
  }
  .checkout-product img {
    width: 160px;
  }
  .checkout-main h1 {
    text-align: center;
    font-weight: 500;
  }
  .shippingDetails {
    width: 100%;
  }
  .shippingDetails h1 {
    margin-top: 50px;
  }
  .brandFocus-btn {
    left: 0;
    transform: translateX(0);
  }
}
@media (max-width: 800px) and (max-height: 1024px) {
  .dropdown.active {
    height: 70vh;
  }
}
@media all and (max-width: 768px) {
  .order-window {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .order-window-items {
    height: 90vh;
  }
  .search input {
    width: 60%;
  }
  .trends-btn {
    left: 65%;
  }

  .search-data-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .paginationImg-container {
    left: 80%;
  }
  .singleProduct-content p {
    width: 100%;
  }
  .cats-dropdown {
    height: 100%;
    flex-direction: column;
    top: 0;
    left: -100%;
  }
  .cats-dropdown.active {
    left: 0;
  }
  .cats-dropdown li {
    height: auto;
    font-size: 2rem;
  }
}
@media all and (max-width: 750px) {
  .footer-content-second h6,
  .footer-content-first ul li,
  .footer-content-first ul h6 {
    font-size: 0.9rem;
  }
}
@media all and (max-height: 770px) {
  .cart-products {
    height: 68vh;
  }

  .dropdown.active {
    height: 80vh;
  }
  .slider-container {
    height: 80vh;
  }
  .slider-card img {
    padding: 6rem;
  }
}
@media all and (max-height: 650px) {
  .cart-products {
    height: 65vh;
  }
}
@media all and (max-width: 700px) {
  .order-container button {
    height: 30px;
    width: 120px;
    font-size: 0.9rem;
  }
  .splash h2 {
    font-size: 2.4rem;
    text-align: center;
  }
  .imgSection h4 {
    font-size: 1.5rem;
  }
  .imgSection p {
    font-size: 1.34rem;
  }
  .singleProduct-content p {
    font-size: 1.1rem;
  }
  .paginationImg-container {
    height: 70px;
    width: 70px;
  }
}
@media all and (max-width: 649px) {
  .trends-btn {
    left: 3%;
  }
  .brand-slide {
    font-size: 2.5rem;
  }
  .imgSection p {
    text-align: end;
  }
}
@media all and (max-width: 600px) {
  .order-window-content-wrapper {
    flex-direction: column;
  }
  .order-window-items {
    width: 100%;
    height: 60vh;
    border-radius: 0;
  }
  .order-window-close {
    top: 1.3%;
  }
  .order-window h1 {
    font-size: 1rem;
  }
  .order-window h2 {
    font-size: 1.2rem;
  }

  .order-window-details {
    width: 100%;
    text-align: start;
  }
  .profile-sidebar-icon {
    font-size: 1.6rem;
  }
  .profile-main h1 {
    font-size: 1.4rem;
  }
  .profile-main h2 {
    font-size: 1.2rem;
  }
  .profile-main {
    width: 100%;
  }
  .profile-main h1 {
    padding-right: 20px;
  }
  .profile-main h2 {
    padding-left: 20px;
  }
  .trends-card-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .trends-splashBG {
    border-radius: 0;
  }
  .trends-main {
    border-top-left-radius: 0;
  }
  .brand-slide {
    font-size: 2.5rem;
  }
  .invoice-item {
    flex-direction: column;
  }
  .invoice-item div:nth-child(2) {
    margin-left: 0;
  }
  .invoice-item div:nth-child(1) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .invoice-item-qtyPrice {
    text-align: center;
    margin-top: 1vh;
  }
  .checkout-main {
    width: 100%;
  }
  .checkout-main form {
    padding: 1rem 2rem 1rem 2rem;
  }
  .shippingDetails h1 {
    margin-top: 25px;
  }
  .home {
    width: 100%;
  }
  .splash {
    border-radius: 0;
  }
  .splash video {
    border-radius: 0;
  }
  .splash img {
    border-radius: 0;
  }
  .imgSection {
    border-radius: 0;
  }
  .imgSection img {
    border-radius: 0;
  }
  header {
    width: 100%;
    left: 0;
  }
  .image2 {
    border-radius: 0;
  }
  .brandFocus-left-content h5 {
    font-size: 3rem;
  }
  .brandFocus-left-content p {
    font-size: 2rem;
  }
  .brandFocus-right img {
    border-radius: 0;
  }
  .brandFocus-right {
    border-radius: 0;
  }
  .marquee h5 {
    font-size: 3rem;
  }
  .marquee-icon {
    font-size: 1.5rem;
  }
  footer {
    width: 100%;
  }
  .footer-links {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-links ul {
    width: 100%;
    margin-top: 0vh;
    border-bottom: 1px solid var(--gray);
    padding: 1rem;
  }
  .footer-links ul:last-child {
    border-bottom: none;
  }
  .footer-links ul li {
    text-align: center;
  }
  .footer-social {
    width: 50%;
  }
  .footer-icon-container {
    font-size: 5rem;
  }
  .footer-icon-container:nth-child(n + 2) {
    margin-top: 3vh;
  }
  .subcategory {
    width: 100%;
  }
  .products-grid {
    grid-template-columns: 1fr;
  }
  .products-header p:nth-child(1) {
    padding-left: 15px;
  }
  .products-header p:nth-child(2) {
    padding-right: 15px;
  }
  .product-card img {
    height: 40vh;
    width: 100%;
    object-fit: contain;
  }
  .product-card .product-image2 {
    object-fit: cover;
    height: 100%;
  }
  .filter-goBack {
    padding-left: 15px;
  }
  .singleProduct-content button {
    padding: 0.6rem 1.4rem;
  }
  .singleProduct {
    width: 100%;
  }
  .singleProd-goBack {
    padding-left: 15px;
  }
}
@media all and (max-width: 568px) {
  .search-data-container {
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 550px) {
  .trends-btn {
    width: 140px;
    height: 140px;
    font-size: 1.4rem;
  }
  .nav-icon {
    font-size: 1.1rem;
  }
  .cart-product p {
    font-size: 0.9rem;
  }
  .cart-footer-taxes {
    font-size: 0.9rem;
  }
  .cart-product img {
    width: 80px;
  }
  .trends-main h4 {
    font-size: 4rem;
    bottom: 20%;
  }
  .order-products p {
    font-size: 0.9rem;
    white-space: normal;
  }
  .profile-content {
    padding: 1.5rem 1rem 0 0.5rem;
  }
}
@media all and (max-width: 500px) {
  .profile-content h3 {
    font-size: 1.6rem;
  }
  .profile-logout button {
    height: 120px;
    font-size: 1rem;
    width: 120px;
  }
  .modal-container,
  .modal-container-register {
    width: 100%;
    border-radius: 0;
  }
  .cart-increase {
    width: 70px;
  }
  .profile-sidebar {
    width: 25%;
  }
  .profile-content {
    width: 75%;
  }
}
@media all and (max-width: 480px) {
  .brandFocus-left-content p:nth-child(3) {
    font-size: 1rem;
  }
  .slider-card img {
    padding: 1.7rem;
    left: 0%;
  }
  .brand-slide {
    font-size: 2rem;
  }
}
@media all and (max-width: 450px) {
  .invoice-footer {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .invoice-footer div:nth-child(1) strong {
    display: block;
    margin-top: 2vh;
  }
  .checkout-main h1 {
    font-size: 2rem;
  }
  header h1 {
    font-size: 2rem;
  }
  .footer-icon-container {
    font-size: 4rem;
  }
  .marquee h5 {
    font-size: 2.5rem;
  }
  .marquee-icon {
    font-size: 1.25rem;
  }
  .banner {
    font-size: 0.8rem;
  }
  .brandFocus-left-content h5 {
    font-size: 2.5rem;
  }
  .brandFocus-left-content p {
    font-size: 1.6rem;
  }
  .brandFocus-left-content p:nth-child(3) {
    width: 75%;
  }
  .mobile-sidebar-inner ul li {
    font-size: 2.3rem;
  }
}
@media all and (max-width: 420px) {
  .trends-main h4 {
    font-size: 3rem;
  }
}
@media all and (max-width: 410px) {
  .order-products p {
    font-size: 0.8rem;
  }
  .imgSection h4 {
    font-size: 1.3rem;
  }
  .imgSection p {
    font-size: 1.15rem;
  }
  .mobileFilter-brands li {
    font-size: 1.3rem;
  }
  .mobileFilter-brands input {
    margin: 0 5px;
    transform: translateY(-10%);
    transform: scale(1.2);
  }
  .search input {
    width: 80%;
  }
}
@media all and (max-width: 380px) {
  .slider-card img {
    padding: 2rem;
  }
  .paginationImg-container {
    width: 50px;
    height: 50px;
  }
}
@media all and (max-width: 340px) {
  .banner {
    font-size: 0.7rem;
  }
}
